body {
  font-family: 'Arial', sans-serif;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controlPanel {
  padding: 10px;
}

#controlPanel > button {
  margin: 5px;
  padding: 6px 12px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

#controlPanel > button:hover {
  color: #F56960;
}

#controlPanel > button:disabled {
  color: gray;
}

#board td{
  border: 1px solid #DDD;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #F56960
}

td.dead {
  background-color: #fff;
}
